body {
    background-image: url("https://i.pinimg.com/736x/9d/12/a1/9d12a17790a045121aba31dee14dec16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.custom-navbar {
        background: rgba(232, 240, 234, 0.9); 
        backdrop-filter: blur(10px);
        border-radius: 15px;
        width: 95%;
        box-shadow: 0 5px 15px rgba(100, 120, 100, 0.2);
        padding: 12px 20px;
        max-width: 900px;
        margin: 0 auto 30px auto;
        }

.navbar-brand {
        font-weight: bold;
        color: #5f7f6b; 
        font-size: 1.3rem;
        }


.nav-link {
    color: #5f7f6b !important;
    font-weight: 500;
    margin: 0 10px;
    padding: 6px 14px;
    border-radius: 12px;
    transition: all 0.3s ease;
        }


.nav-link:hover {
    background: #cdddcf;
    color: #3e5c4a !important;
        }

.nav-link.active {
    background: #8fae96; 
    color: white;
    font-weight: bold;
        }    

.navbar-toggler {
    border: none;
    font-size: 1.3rem;
    color: #5f7f6b;
    }


.nav-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* LEFT | CENTER | RIGHT */
    align-items: center;
    width: 100%;
    }


.nav-left {
    font-weight: bold;
    color: #5f7f6b;
    padding-left: 15px;
    }


.nav-center {
    display: flex;
    justify-content: center;
    gap: 70px;
    }

.nav-center a {
    text-decoration: none;
    color: #5f7f6b;
    font-weight: bold;
    padding: 20px 10px;
    position: relative;
    }


.nav-center a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #5f7f6b;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

#input-section {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 30px;
    border: 1px solid rgba(199, 22, 22, 0.171);
    box-shadow: 0 8px 32px 0 #c08383;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    align-items: center;
}

h3 {
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    color: white;
    align-self: flex-start;
    font-weight: bold;
}

#day-select, #absence-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #979fbf;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-size: 18px;
    margin-top: 10px;
}

button:hover {
    background-color: #7e849c;
    transform: translateY(-2px);
}

#graph-output {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 30px;
    border: 1px solid rgba(199, 22, 22, 0.171);
    box-shadow: 0 8px 32px 0 #c08383;
}
